<!DOCTYPE html>
<html>
  <head>
    <title>EstimotoApi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">

    <%= javascript_pack_tag 'motorcycle' %>
    <%= stylesheet_link_tag 'motorcycle' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
